
<%= semantic_form_for [@event_master,@event_ticket_type], :input_html => {:multiple => true}   do |f| %>
 

   <div class="field">
    <%= f.input :name %>
  </div>
  <div class="field">
    <%= f.input :description, :as => :ckeditor %>
  </div>
  <div class="field">
    <%= f.input :price %>
  </div>
   <div class="field">
    <%= f.input :min %>
  </div>
  </div>
   <div class="field">
    <%= f.input :max %>
  </div>
  
  <%= f.actions do %>
      <%= f.action :submit, :as => :button %>
      <%= f.action :cancel, :as => :link %>
  <% end %>
 
<% end %>
