<%= form_for(@status_master) do |f| %>
  <% if @status_master.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@status_master.errors.count, "error") %> prohibited this status_master from being saved:</h2>

      <ul>
      <% @status_master.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.number_field :description %>
  </div>
  <div class="field">
    <%= f.label :active %><br>
    <%= f.check_box :active %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
